$main-color: #b79d7c;
$secondary-color: #5b4e4b;
$secondary-color-rgba: rgba(91, 78, 75, 0.25);
$black-color: #161413;
$transitionTime1: 0.5s;
$transitionTime2: 1s;
$transitionTime3: 1.5s;
$transitionTime4: 2s;
$transitionTime5: 2.5s;
$transitionTime6: 3s;
$transitionTime7: 3.5s;
$transitionTime8: 4s;
$transitionTime9: 4.5s;
$transitionTime10: 5s;