@import 'vars';
@import 'mixins';
@import 'reset';
@import 'libs/slick';
@import 'common/common';
@import 'header/header';
@import 'header/header-media';
@import 'footer/footer';
@import 'footer/footer-media';
@import 'nav/nav';
@import 'nav/nav-media';
@import 'menu/menu';
@import 'menu/menu-media';
@import 'main/main';
@import 'main/main-media';
@import 'advantages/advantages';
@import 'advantages/advantages-media';
@import 'documents/documents';
@import 'documents/documents-media';
@import 'webcam/webcam';
@import 'webcam/webcam-media';
@import 'contacts/contacts';
@import 'contacts/contacts-media';
@import 'construction/construction';
@import 'construction/construction-media';
@import 'gallery/gallery';
@import 'gallery/gallery-media';
@import 'developer/developer';
@import 'developer/developer-media';
@import 'infrastructure/infrastructure';
@import 'infrastructure/infrastructure-media';
@import 'news/news';
@import 'news/news-media';
@import 'news-open/news-open';
@import 'news-open/news-open-media';
@import 'terms-of-purchase/terms-of-purchase';
@import 'terms-of-purchase/terms-of-purchase-media';
@import 'choose-apartment/choose-apartment';
@import 'choose-apartment/choose-apartment-media';
@import 'forms/forms';
@import 'forms/forms-media';
@import '404/404';
@import '404/404-media';