.news__wrapper {
    flex: 1;
}
.news__heading {
    color: $secondary-color;
    &::before,
    &::after {
        background-color: #e5e5e5;
    }
}
.news__subscribe-btn {
    position: absolute !important;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 290px;
    line-height: 50px;
    color: $main-color;
    font-family: "CoreSans", sans-serif;
    font-size: 0.75rem;
    background-color: $secondary-color;
    @include btn_2(260px, rgba(183, 157, 124, 0.5));
}
.news__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .news__item {
        width: 49%;
        margin-bottom: 20px;
    }
}
.news__item {
    width: 48%;
    position: relative;
}
.news__item_image {
    position: relative;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.news__item-border_top-left {
    &::before,
    &::after {
        content: '';
        position: absolute;
        display: block;
        background-color: $main-color;
        top: 5px;
        left: 5px;
        z-index: 1;
    }
    &::before {
        width: 1px;
        height: calc(100% - 10px);
    }
    &::after {
        width: calc(100% - 10px);
        height: 1px;
    }
}
.news__item-border_bottom-right {
    &::before,
    &::after {
        content: '';
        position: absolute;
        display: block;
        background-color: $main-color;
        bottom: 5px;
        right: 5px;
        z-index: 1;
    }
    &::before {
        width: 1px;
        height: calc(100% - 10px);
    }
    &::after {
        width: calc(100% - 10px);
        height: 1px;
    }
}
.news__item_id-1 .news__item_image {
    background-image: url('../img/main/news/news_item_1.jpg');
}
.news__item_id-2 .news__item_image {
    background-image: url('../img/main/news/news_item_2.jpg');
}
.news__item_id-3 .news__item_image{
    background-image: url('../img/news/3.jpg');
}
.news__item_id-4 .news__item_image{
    background-image: url('../img/news/4.jpg');
}
.news__item_id-5 .news__item_image{
    background-image: url('../img/news/5.jpg');
}
.news__item_id-6 .news__item_image{
    background-image: url('../img/news/6.jpg');
}
.news__item_id-7 .news__item_image{
    background-image: url('../img/news/7.jpg');
}
.news__item_id-8 .news__item_image{
    background-image: url('../img/news/8.jpg');
}
.news__item_id-9 .news__item_image{
    background-image: url('../img/news/9.jpg');
}
.news__item_id-10 .news__item_image{
    background-image: url('../img/news/10.jpg');
}
.news__date {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
}
.news__item_content {
    position: absolute;
    top: 0;
    right: 0;
    width: 53%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    padding: 20px 30px 0px;
}
.news__item_heading {
    font-size: 1.5rem;
    font-family: 'Cormorant', sans-serif;
    font-weight: 600;
    line-height: 26px;
    color: $main-color;
    // font-variant: small-caps;
    letter-spacing: 1.2px;
    max-height: 150px;
    overflow: hidden;
    &:after {
        content: '';
        display: block;
        width: 52px;
        height: 3px;
        margin: 17px 0px;
        background-image: url('../img/main/main_page_icons_spritesheet.png');
        background-repeat: no-repeat;
        background-position: -239px -2px;
    }
}
.news__item_paragraph {
    max-height: 100px;
    overflow: hidden;
}
.news_more-btn {
    @include btn_1(225px);
    width: 100%;
    margin: 25px auto 40px;
    &::before,
    &::after {
        width: 100%;
    }
    a {
        line-height: 45px;
    }
}
.news__pagination {
    width: 320px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.news__pagination_item {
    display: inline-block;
    a {
        color: $secondary-color;
        display: inline-block;
        width: 40px;
        line-height: 40px;
        text-align: center;
        transition: background-color $transitionTime1;
        &:hover {
            background-color: $main-color;
        }
    }
    
}
.news__pagination_item-active {
    a {
        color: #fff;
        background-color: $secondary-color;
    }
}
.news__pagination-btn {
    fill: $secondary-color;
    transition: fill $transitionTime1;
    width: 20px;
    height: 20px;
    &:hover {
        fill: $main-color;
    }
}