.advantages__heading {
    color: $secondary-color;
    &::before,
    &::after {
        background-color: #e5e5e5;
    }
}
.advantages__main-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.advantages__left,
.advantages__right {
    width: 49%;
}

.advantages__left {
    @include backgroundImage();
    background-image: url('../img/advantages/advantages_img.jpg');
    transition: all $transitionTime2;
}
.animate-me {
    .advantages__left {
        opacity: 0;
        transform: translateX(-100px);
    }
}

.advantages__text {
    font-size: 0.875rem;
    line-height: 25px;
    letter-spacing: 0.9px;
    color: #000;
}

.advantages__paragraph {
    transition: opacity $transitionTime2;
}
.animate-me {
    .advantages__paragraph {
        opacity: 0;
    }
}

.advantages__list {
    margin-top: 20px;
}

.advantages__item:nth-child(1) {transition: all $transitionTime2 0.1s;}
.advantages__item:nth-child(2) {transition: all $transitionTime2 0.3s;}
.advantages__item:nth-child(3) {transition: all $transitionTime2 0.5s;}
.advantages__item:nth-child(4) {transition: all $transitionTime2 0.7s;}
.advantages__item:nth-child(5) {transition: all $transitionTime2 0.9s;}
.advantages__item:nth-child(6) {transition: all $transitionTime2 1.1s;}
.advantages__item:nth-child(7) {transition: all $transitionTime2 1.3s;}
.advantages__item:nth-child(8) {transition: all $transitionTime2 1.5s;}

.animate-me {
    .advantages__item {
        opacity: 0;
        transform: translateX(100px);
    }
}

.advantages__color {
    color: $main-color;
}
.advantages__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.advantages__item_icon {
    width: 17%;
}
.advantages__item_text {
    width: 83%;
}
.advantages__icon-container {
    position: relative;
}
.advantages__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/advantages/advantages_spritesheet.png');
}
.advantages__icon_1 {
    width: 50px;
    height: 50px;
    background-position: -2px -2px;
}
.advantages__icon_2 {
    width: 19px;
    height: 50px;
    background-position: -56px -2px;
}
.advantages__icon_3 {
    width: 50px;
    height: 50px;
    background-position: -78px -2px;
}
.advantages__icon_4 {
    width: 28px;
    height: 50px;
    background-position: -133px -2px;
}
.advantages__icon_5 {
    width: 50px;
    height: 50px;
    background-position: -165px -2px;
}
.advantages__icon_6 {
    width: 46px;
    height: 51px;
    background-position: -219px -2px;
}

.advantages__btn {
    margin: 60px auto;
    text-align: center;
    max-width: 380px;
    line-height: 60px;
    display: block;
    background-color: $secondary-color;
    @include btn_2(260px, rgba(183, 157, 124, 0.5));
    transition: opacity $transitionTime2 1.6s;
}
.animate-me {
    .advantages__btn {
        opacity: 0;
    }
}