.news-open__wrapper {
    flex: 1;
}
.news-open__heading {
    color: $secondary-color;
    &::before,
    &::after {
        background-color: #e5e5e5;
    }
}
.news-open__heading_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .news-open__back-btn, .news-open__date {
        font-size: 0.75rem;
        font-family: "CoreSans", sans-serif;
        font-weight: 300;
        color: $secondary-color;
    }
}
.news-open__back-btn {
    display: block;
    line-height: 40px;
    width: 120px;
    border: 1px solid #e5e5e5;
    &::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 3px;
        background-image: url('../img/news-open/news-open_arrow.png');
        vertical-align: middle;
        margin-right: 10px;
        transition: all $transitionTime1;
    }
    &:hover {
        &::before {
            transform: translateX(-10px);
        }
    }
}
.news-open__date {
    &::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 9px;
        background-image: url('../img/news-open/news-open_calendar.png');
        vertical-align: middle;
        margin-right: 5px;
        transition: all $transitionTime1;
    }
}
// .news-open__content {
//     display: flex;
//     justify-content: space-between;
// }
.news-open__image {
    float: left;
    width: 55%;
    margin: 0 20px 20px 0px;
    img {
        width: 100%
    }
}
.news-open__gallery-thumb-list {
    img {
        height: 94px;
        width: 94px;
        margin: 0 auto;
    }
    &:hover {
        cursor: pointer;
    }
    .slick-current {
        .news-open__gallery-thumb {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                border: 10px solid $main-color;
            }
        }
    }
}
.news-open__gallery-thumb {
    width: 94px !important;
    display: block !important;
    margin: 0 auto;
}

.news-open__text {
    p {
        color: #000;
        font-size: 1.125rem;
        line-height: 30px;
    }
}
.news-open__construction-btn {
    margin-top: 35px;
    display: block;
    text-align: center;
    line-height: 60px;
    background-color: $secondary-color;
    @include btn_2(260px, rgba(183, 157, 124, 0.5));
}

.news-open__more-news {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}