@media only screen and (max-width: 1024px) {
    .news-open__image {
        width: 100%;
    }
    .news-open__text {
        width: 100%;
    }
    .news-open__more-news {
        flex-direction: column;
    }
}
@media only screen and (max-width: 767px) {
    .news-open__heading {
        margin-bottom: 100px;
        display: block;
    }
    .news-open__back-btn {
        position: absolute;
        top: 120%;
    }
    .news-open__date {
        position: absolute;
        top: 130%;
        right: 0;
    }
    // .news-open__more-news {
    //     .news__item_image {
    //         height: 220px;
    //     }
    // }
}