// Callback form start

.callback-form-modal {
    opacity: 0;
    transform: translateY(-100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background-color: rgba(21,20,18,0.9);
    transition: opacity $transitionTime2;
    &.show-callback-modal {
        opacity: 1;
        transform: none;
    }
}
.callback-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.callback-form__border-left-top,
.callback-form__border-right-bottom {
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        background-color: $secondary-color;;
    }
}

.callback-form__border-left-top {
    &::before,
    &::after {
        top: -5px;
        left: -5px;
    }
    &::before {
        height: calc(100% + 10px);
        width: 1px;
    }
    &::after {
        width: calc(100% + 10px);
        height: 1px;
    }
}
.callback-form__border-right-bottom {
    &::before,
    &::after {
        bottom: -5px;
        right: -5px;
    }
    &::before {
        height: calc(100% - 29px);
        width: 1px;
    }
    &::after {
        width: calc(100% + 10px);
        height: 1px;
    }
}
.calback-form__close-btn {
    position: absolute;
    top: -5px;
    right: -38px;
    width: 34px;
    height: 38px;
    border: 1px solid $secondary-color;
    border-left: none;
    text-align: center;
    padding-top: 4px;
    a {
        position: absolute;
        top: 4px;
        left: -4px;
        display: inline-block;
        width: 34px;
        height: 28px;
        background-color: rgba(91,78,75,0.25);
        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translate(-50%, -50%);
            width:30px;
            height: 1px;
            background-color: $main-color;
            transform-origin: center;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}
.callback-form__inner {
    overflow: hidden;
    width: 340px;
    background-color: rgba(91,78,75,0.25);
}
.callback-form__heading {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Cormorant', sans-serif;
    // font-variant: small-caps;
    text-align: center;
    margin-top: 15px;
}
.callback-form__message {
    color: $main-color;
    max-width: 240px;
    margin: 15px auto 0;
    text-align: center;
    font-weight: 300;
}
.callback-form__form {
    width: 300px;
    margin: 0 auto;
}
.callback-form__input {
    input {
        width: 100%;
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(183,157,124,0.5);
        margin-top: 20px;
        padding-bottom: 10px;
        color: #fff;
        font-size: 1rem;
        font-style: italic;
        font-weight: 300;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #fff;
        font-size: 1rem;
        font-style: italic;
        font-weight: 300;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #fff;
        font-size: 1rem;
        font-style: italic;
        font-weight: 300;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #fff;
        font-size: 1rem;
        font-style: italic;
        font-weight: 300;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #fff;
        font-size: 1rem;
        font-style: italic;
        font-weight: 300;
      }
}
.callback-form__input-submit {
    margin: 20px 0px;
    input {
        border: none;
        outline: none;
        width: 100%;
        line-height: 50px;
        color: $main-color;
        background-color: $secondary-color;
        border-top: 1px solid $main-color;
        border-bottom: 1px solid $main-color;
        transition: all $transitionTime2;
        &:hover {
            cursor: pointer;
            background-color: $main-color;
            color: $secondary-color;
        }

    }
}
// Callback form end