 
.life-style-section {
	position: relative;
	width: 100%;
	height: calc(100vh - 100px);  
	border-top: 1px solid transparent;
}

.life-style__heading {
	color: #fff;
	&::before,
    &::after {
        background-color: #fff;
    }
}

.life-style-wrapper {
	position: relative;
	height: 100%;
}

.life-style-descript {
	display: flex;
	justify-content: space-between;

	&__text {
		font-size: 18/16*1rem;
		font-weight: 300;
		width: 540/1200*100%;
	}
}

.section__box_life-style {
	left: 50%;
	transform: translate(-50%, -50%);
}

.life-style-section_1 {
	background: url(../img/life-style/screen1.jpg) center center no-repeat;
	background-size: cover; 
}

.life-style-section_2 { 
	background: url(../img/life-style/screen2.jpg) center center no-repeat;
	background-size: cover; 
}

.life-style-section_3 {
	background: url(../img/life-style/screen3.jpg) center center no-repeat;
	background-size: cover; 
}

.life-style-section_4 {
	background: url(../img/life-style/screen4.jpg) center center no-repeat;
	background-size: cover; 
}

.life-style-section_5 { 
	height: calc(100vh - 148px); 
	background: url(../img/life-style/screen5.jpg) center center no-repeat;
	background-size: cover; 
}

.section__box-text-container, .section__box_outer {
	transition: opacity 1s;
}

.section__box-paragraph_1 {
	transition: opacity 1s 1s;
}

.section__box-paragraph_2 {
	transition: opacity 1s 1.5s;
}

.animate-me {
	.section__box_outer,
	.section__box-text-container, 
	.section__box-paragraph_1, 
	.section__box-paragraph_2,
	.life-style-descript
	{
		opacity: 0;
	}
}