
.gallery__wrapper {
    flex: 1;
    display: flex;
}

.gallery-main__container {
    width: 65%;
    flex: 1;
    .slick-slide {
        height: 100%;
        &>div {
            height: 100%;
        }
    }
    .slick-list,
    .slick-track {
        height: 100%;
    }
}
.gallery-side__container {
    width: 94px;
    .slick-slide {
        &>div {
            width: 94px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .slick-current {
        &>div {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% - 20px);
                height: calc(100% - 27px);
                border: 10px solid $main-color;
            }
        }
    }
}
.gallery-main {
    width: 100%;
    //height: 100%;
    height: calc(100vh - 170px);
}
.gallery-main__item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gallery-main__item_1,
.gallery-side__item_1 {
    background-image: url('../img/gallery/1.jpg');
}
.gallery-main__item_2,
.gallery-side__item_2 {
    background-image: url('../img/gallery/2.jpg');
}
.gallery-main__item_3,
.gallery-side__item_3 {
    background-image: url('../img/gallery/3.jpg');
}
.gallery-main__item_4,
.gallery-side__item_4 {
    background-image: url('../img/gallery/4.jpg');
}
.gallery-main__item_5,
.gallery-side__item_5 {
    background-image: url('../img/gallery/5.jpg');
}
.gallery-main__item_6,
.gallery-side__item_6 {
    background-image: url('../img/gallery/1.jpg');
}

.gallery-side__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 94px;
    height: 94px;
}
.gallery-page-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: #fff;
    z-index: 5;
}
.gallery-page-arrow_next {
    right: 0;
}
.gallery-page-arrow_prev {
    left: 0;
}
.gallery-page-arrow_main {
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 17px;
        height: 30px;
        background-image: url('../img/construction/construcion_spritesheet.png');
    }
    &:hover {
        cursor: pointer;
    }
}
.gallery-page-arrow_next {
    div {
        background-position: -2px -2px;
    }
}
.gallery-page-arrow_prev {
    div {
        background-position: -56px -2px;
    }
}

.gallery-page-arrow_side {
    width: 94px;
    height: 94px;
    position: relative;
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 28px;
        height: 14px;
        background-image: url('../img/construction/construcion_spritesheet.png');
    }
    &:hover {
        cursor: pointer;
    }
}
.gallery-page_side-arrow-next {
    div {
        background-position: -23px -2px;
    }
}
.gallery-page_side-arrow-prev {
    div {
        background-position: -77px -2px;
    }
}