
.infrastructure-page__heading-wrapper {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 5;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.6) 51%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.6) 51%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.6) 51%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#1affffff',GradientType=0 ); /* IE6-9 */
    padding: 0 10px;
}
.infrastructure-page__heading {
    max-width: 1180px;
    margin: 40px auto;
    color: $secondary-color;
    &::before,
    &::after {
        background-color: rgba(179, 179, 179, 0.75);
    }
}
.infrastructure-page__wrapper {
    flex: 1;
}
.infrastructure__infowindow {
    color: #000;
}

.infrastructure__filter {
    position: absolute;
    top: 300px;
    left: 20px;
    z-index: 5;
    width: 275px;
    background-color: #fff;
    color: #000;
    padding: 5px;
    font-weight: 600;
    letter-spacing: 0.28px;
    font-size: 0.6875rem;
    input[type="checkbox"] {
        display: none;
        &:checked ~ .infrastructure__filter_item-text {
            padding-left: 20px;
        }
        &:checked ~ .infrastructure__filter_item-icon {
            background-color: rgba(0,0,0,0.2);
        }
    }
}
.infrastructure__filter_item {
    height: 30px;
    display: flex;
    align-items: center;
    &:nth-child(odd) {
        background-color: #e3e3e3;
    }
    &:hover {
        background-color: #dadada;
    }
}
.infrastructure__filter_item-icon {
    width: 20%;
    height: 100%;
    display: inline-block;
    transition: all $transitionTime1;
    &:hover {
        cursor: pointer;
    }
}
.infrastructure__filter_item-text {
    flex: 1;
    height: 100%;
    padding-left: 30px;
    padding-top: 5px;
    transition: all $transitionTime1;
    &:hover {
        cursor: pointer;
    }
}

.infrastructure__filter_icon {
    display: block;
    margin: 6px auto 0;
    background-image: url('../img/infrastructure/infrastructure_spritesheet.png');
}
.infrastructure__filter_icon-gift-shop {
    width: 17px;
    height: 15px;
    background-position: -2px -2px;
}
.infrastructure__filter_icon-sport_complex {
    width: 14px;
    height: 19px;
    background-position: -64px -2px;
}
.infrastructure__filter_icon-higher_education_establishment {
    width: 17px;
    height: 14px;
    background-position: 137px -2px;
}
.infrastructure__filter_icon-toy_store {
    width: 16px;
    height: 14px;
    background-position: 116px -2px;
}
.infrastructure__filter_icon-cafe_restaraunts {
    width: 15px;
    height: 15px;
    background-position: 96px -2px;
}
.infrastructure__filter_icon-school {
    width: 19px;
    height: 19px;
    background-position: 77px -2px;
}
.infrastructure__filter_icon-dentist {
    width: 13px;
    height: 14px;
    background-position: 54px -2px;
}
.infrastructure__filter_icon-pharmacy {
    width: 15px;
    height: 17px;
    background-position: 37px -2px;
}
.infrastructure__filter_icon-supermarket {
    width: 16px;
    height: 15px;
    background-position: 18px -2px;
}
.infrastructure__filter_icon-shopping_mall {
    width: 18px;
    height: 15px;
    background-position: -23px -2px;
}
.infrastructure__filter_icon-bank {
    width: 15px;
    height: 15px;
    background-position: -45px -2px;
}