@media only screen and (max-width: 1199px) {
    .section__box_outer {
        max-width: 290px;
    }
    .section__box-text-container {
        padding: 25px;
    }
}

@media only screen and (max-width: 1024px) {
    .section__box-btn {
        width: 240px;
        &::before,
        &::after {
            width: 100%;
        }
    }
    .section__box_buiding {
        right: 2%;
    }
    .section__box_apartments {
        left: 2%;
    }
    .section__box_location {
        right: 2%;
    }

    .quote__heading {
        font-size: 2.25rem;
        max-width: 340px;
        line-height: 45px;
    }
    .quote__frame_0 {
        padding: 50px 75px;
        max-width: 500px;
        margin: 0 auto 50px;
    }

    .section__box_location {
        top: 50%;
    }
    .infrastructure {
        height: auto;
    }
    .news__main-page {
        .news__item:nth-child(2) {
            display: none;
        }
    }
    .contacts {
        margin-bottom: -40px;
    }
    .contacts__wrapper {
        max-width: 95%;
    }
    .contacts__info {
        li {
            width: 33%;
            margin-bottom: 10px;
        }
    }
    .contacts__info_item-container {
        width: 180px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 767px) {
    //Hero
    .hero__letter-a {
        width: 120%;
    }
    // Hero end
    // Building
    .building {
        overflow: hidden;
        @include backgroundImage();
        background-image: url('../img/main/the_building_orig.jpg');
    }
    .building__canvas {
        display: none;
    }
    .section__box {
        position: static;
        transform: none;
        max-width: 360px;
        margin: 25px auto;
    }
    .section__box_outer {
        max-width: none;
    }
    .section__box-btn {
        a {
            line-height: 40px;
        }
    }
    // Building end
    // Location 
    .location {
        overflow: hidden;
        @include backgroundImage();
        background-image: url('../img/main/location_paint.jpg');
    }
    .ba-slider {
        display: none;
    }
    // Location end
    // Quote start
    .quote__heading {
        font-size:  1.25rem;
        font-weight: 400;
        line-height: 30px;
    }
    .quote__frame_0 {
        max-width: 300px;
        padding: 50px 40px;
    }
    .quote__author {
        text-align: center;
        font-size: 1.25rem;
        line-height: 12.5px;
    }
    // Quote end
    // Gallery
    .section__box_gallery {
        .section__box_outer{ 
            padding: 20px;
            max-width: none;
            background-color: rgba(0,0,0,0.75);
            margin: 0 auto;
            width: 320px;

        }
    }
    .gallery__thumbnails {
        position: absolute;
        top: auto;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0%);
        width: 320px;
        .thumb {
            height: 80px;
        }
    }
    
    .gallery__letter {
        display: none;
    }
    // Gallery end
    // Contacts
    .contacts__heading {
        padding: 30px 0px;
    }
    .contacts__paragraph {
        margin-bottom: 20px;
    }
    .contacts {
        height: auto;
    }
    .contacts__info {
        li {
            width: 100%;
            margin-bottom: 20px;
        }
        margin-bottom: 5px;
    }
    .input__text {
        width: 100%;
        margin-bottom: 20px;
    }
    .form__inputs_top {
        margin: 0;
    }
    .input__textarea {
        width: 100%;
        margin-bottom: 20px;
    }
    .input__submit {
        width: 100%;
    }
    // Contacts end


    .next-view {
        display: none;
    }




} //media 768px end

@media only screen and (max-width: 500px) {
    //Hero
    .hero__letter-a {
        height: 70%;
        width: 150%;
    }
    .hero__main-text {
        top: 55%;
    }
    .hero__choose-apartment-btn {
        top: 80%;
    }
    // Hero end
}



@media only screen and (max-width: 900px) and (max-height: 900px) {
    .next-view {
        a { 
            width: 167px;
            padding: 12px 0 20px;
        }
    }
}

@media only screen and (max-height: 720px) {
    .quote__text {
        margin: 30px auto 0;
    }
    .quote__frame_0 {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) and (max-height: 600px) {
    .hero__main-text {
        top: 58%;
        font-size: 10px;
        line-height: 1.1;
    }
}

@media only screen and (max-width: 800px) and (min-height: 800px) {
    .gallery__letter {
        img {
            right: -100px;
        }
    }
}


